/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

:root {
  --Primary: #2f5fac;
  --blue100: #e5ecf8;
  --blue200: #c6d6ef;
  --blue300: #8dade0;
  --blue400: #8dade0;
  --blue500: #2f5fac;
  --blue600: #234781;
  --blue700: #183056;
  --blue800: #0c182b;
  --blue900: #020d1e;
  --gray100: #f6f7fc;
  --gray200: #f1f2f6;
  --gray300: #e4e6ed;
  --gray400: #d6d9e4;
  --gray500: #c8ccdb;
  --gray600: #9aa1b9;
  --gray700: #646d89;
  --gray800: #424c6b;
  --gray900: #2a2e3f;
  --orange100: #fbaa1c;
  --orange500: #f47e20;
  --black: #000000;
  --white: #ffffff;
  --green: #2fac8e;
  --linear1: linear-gradient(114deg, #95beff 0%, #0040e5 100%);
  --linear2: linear-gradient(207deg, #5697ff 0%, #2558dd 100%);
}

.Linear1 {
  background: linear-gradient(114deg, #95beff 0%, #0040e5 100%);
}
.Linear2 {
  background: linear-gradient(207deg, #5697ff 0%, #2558dd 100%);
}

.H1 {
  font-family: "Inter", sans-serif;
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 82.5px */
  letter-spacing: -1.32px;
}

.H2 {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 45px */
  letter-spacing: -0.72px;
}
.H3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 30px */
  letter-spacing: -0.48px;
}

.Body1 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.Body2 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.Body3 {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.Body4 {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.Shadow1 {
  /* border-radius: 8px;
  background: var(--utility-white, #fff); */
  /* shadow1 */
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.Shadow2 {
  /* border-radius: 8px;
  background: var(--utility-white, #fff); */

  /* shadow2 */
  box-shadow: 2px 2px 12px 0px rgba(64, 50, 133, 0.12);
}

@keyframes dissolve {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.transition {
  animation-name: dissolve;
  animation-duration: 300ms;
}

.Primary {
  display: inline-flex;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--blue-500, #2f5fac);
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.08);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  transition: background 0.3s ease-out;
  cursor: pointer;
  border: none;
}

.Primary:hover {
  background: var(--blue-400, #5483d0);
}

.Primary:active {
  background: var(--blue-700, #183056);
  transition: background 0.3s ease-out;
}

.Primary:disabled {
  background: var(--gray-400, #d6d9e4);
}

.Secondary {
  display: inline-flex;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--orange-500, #f47e20);
  background: #fff;
  border-radius: 12px;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.08);
  color: var(--orange-500, #f47e20);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  transition: background 0.3s ease-out;
  cursor: pointer;
}

.Secondary:hover {
  border-color: var(--orange-100, #fbaa1c);
  color: var(--orange-100, #fbaa1c);
  transition: color 0.3s ease-out;
}

.Secondary:active {
  border-color: var(--orange-500, #f47e20);
  color: var(--orange-500, #f47e20);
  transition: color 0.3s ease-out;
}

.Secondary:disabled {
  border: 1px solid var(--gray-500, #c8ccdb);
  background: #fff;
  color: var(--gray-500, #c8ccdb);
}

.hover-scale {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

/* Hover state, scale up a bit */
.hover-scale:hover {
  transform: scale(1.05); /* Adjust the scale factor as needed */
}

.Input {
  display: flex;
  padding: 12px 16px 12px 12px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-400, #d6d9e4);
  background: var(--utility-white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.Input:focus {
  outline: none !important;
  display: flex;
  padding: 12px 16px 12px 12px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--orange-500, #f47e20);
  background: var(--utility-white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.Nunito {
  font-family: "Nunito", sans-serif;
}

.Ghost {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-style: none;
  border-radius: 16px;
  color: var(--blue-500, #2f5fac);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  display: none;
}
.css-e0m66g-MuiFormControl-root-MuiTextField-root .MuiInputBase-root {
  border: 2px solid #cbd5e0 !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input:focus {
  border: 2px solid #f47e20;
  position: absolute;
  left: -2px;
  width: 432px;
  height: 13px;
  border-radius: 8px;
}
.css-1laqsz7-MuiInputAdornment-root {
  position: absolute;
  right: 10px;
}

.gradient-bg {
  background: linear-gradient(110deg, #95beff 18.21%, #0040e5 95.27%);
}

.Dropdown-control {
  padding: 10px 12px !important;
  border-radius: 8px !important;
  border: 1px solid #d6d9e4 !important;
}
.Dropdown-arrow {
  top: 24px !important;
}
.Dropdown-disabled {
  background-color: var(--gray100) !important;
}
