.footerCard {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
}

.lesson-count-container,
.learningTime-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid #000; */
}

.footer-Line {
  width: auto;
  height: 2px;
  background: var(--gray600);
  opacity: 0.1;
}
.footerContents {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 24px;
}

.bodyCard {
  /* border: 1px solid #000; */
  margin: 24px 0;
  padding: 0 16px 16px 16px;
}
