.hover-scale {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

/* Hover state, scale up a bit */
.hover-scale:hover {
  transform: scale(1.05); /* Adjust the scale factor as needed */
}
